@use '_mixins.scss' as *;

.header {
  width: 100%;
  height: 49px;
  margin: 0 auto 15px;

  background-color: #0D63F3;

  @include onDesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 74px;
  }

  &__burgerMenu {
    margin: 17px 0 0 20px;

    @include onDesktop {
      display: none;
    }
  }

  &__wrapper-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav {
  display: none;

  @include onDesktop {
    display: flex;
    height: 100%;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 146px;



    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: white;
  }
}

.user {
  display: none;

  @include onDesktop {
    position: absolute;
    right: 1%;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    height: 40px;
  }

  &__adminIcon {
    margin-right: 8px;
  }

  &__adminEmail {
    margin-right: 19px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;
  }

  &__quitIcon {
    height: 18px;
  }
}